<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bolanle Adisa</title>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<style>body {background-color: rgb(114, 98, 98);}</style>

<body>
    <div class = "header">
        <div class = "inner_header">
            <div class = "logo_container">
                <h1>MY <span>PORTFOLIO</span></h1>
            </div>
            <ul class = "navigation">
                <li>
                    <a href= "home.html"><span>Home</span> </a>
                </li>
                <li>
                    <a href= "about.html"><span>About</span></a>
                </li>
                <li>
                    <a href="experience.html"><span>Experience</span></a>
                </li>
                <li>
                    <a href= "https://docs.google.com/document/d/1xhoQ6Mlh2-tLVOEITl2fh8_m310QxCT3uGKdVnkn9nc/edit"><span>Resume</span></a>
                </li>
                <li>
                    <div id="toggle">
        <i class="indicator"><span>mode</span></i>
    </div>
                </li>

               <!-- <span style = "position: relative; top: 10px; left: 20px;"><button onclick="darkMode()">Mode</button></span>-->
            
            </ul>
            
        </div>
        
    </div>
    
    </header>


    <p>
        <br>Hello again!
        <br>
        <br>
        I am a currently Sophomore majoring in Computer Science and Mathematics at Huston-Tillotson University, Austin, Texas. Prior to college, I had zero coding experience but I am now proficient
        in JAVA and C++. I have worked as an IT Technician at my University for about a year now and my time working there has allowed me to see a side of Tech that I was not exposed to before.
        I have gained hands-on experience dealing with computer hardware while performing installations, fixing networking issues, restarting servers and tending to the technical difficulties students at
        my University experience daily. 
        <br>
        <br>
        I have worked on a number of projects since I started coding. Below are some major projects:
        <br>
        <br>
        - Designed a Notepad GUI application using JAVA
        <br>
        - Designed a Testing GUI application usine JAVA
        <br>
        - Designed an ATM interface client application using C++ that enables users to perform tasks such as Register, Log-in, Deposit, Withdraw, Check balance, Exit and other custom features.
        <br>
        - Designed a Lottery Picker GUI application using JAVA
        <br>
        - Designed a Tabbed Pane Calculator GUI application using JAVA
        <br>
        - Designed a Password Checker GUI application using JAVA
        <br> 
        <br>
        The projects above can be viewed on my GitHub page. 
        <br>
        <h2>Aspirations</h2>
    
        In the future, I hope to do a lot of front-end work with computer software because I want to be able to provide value to others. As a very creative person, I would love my work
        to be seen by anyone who interacts with a brand or project I am associated with. This way, I can interact with my end customers and finally be able to not only create new technology but also 
        improve how technology is used around world.
        <br>
        <br>
        Find me on my professional platforms like LinkedIn and GitHub using the links at the bottom of the page. 
    </p>
    </p>
        Thanks again for visiting my website!
    </p>
        <br>

        <script>
            const body = document.querySelector('body');
            const toggle = document.getElementById('toggle');
            toggle.onclick = function(){
                toggle.classList.toggle('active');
                body.classList.toggle('active');
            }
        </script>
    <!--<script>
        function theGreatest() {
          var x = document.getElementById("navigation");
          if (x.className === "navigation") {
            x.className += "responsive";
          } else {
            x.className = "navigation";
          }
        }
    </script>-->
    
    
</body>

<footer>
    <p>CONTACT</p>
    <a href="https://github.com/bolanle-adisa">You can find me on GitHub here</a>
    <br>
    <a href="https://www.linkedin.com/in/bolanleadisa">You can find me on Linkedin here</a>
</footer>

</html>