<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bolanle Adisa</title>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link rel="stylesheets" href="stylesheet/styles.css">
</head>

<style>body {background-color: rgb(114, 98, 98);}</style>

    <div class="grid-2">
        <div class="section-1">
        <img src="/assets/logo.jpg" style="padding-bottom:5px;" "padding-left:5px;"/>
        
            <h2>Bolanle Adisa</h2>
            <p>Huston-Tillotson University</p>
            <p>Austin, Texas</p>
                                                                                                                                 
        </div>
        <div class="section-2">
            <h2>A little about me!</h2>
            <p>
                Hello! Welcome to my portfolio.</p>
                <p>I am a Sophomore majoring in Computer Science and Mathematics at Huston-Tillotson University, Austin, Texas. I love to learn new things and travel. In the future, I hope to use my Computer Science degree and all the knowledge I acquire along the way to improve the way technology is used in the world. 
                Currently, my goal is to be proficient in various programming languages in order to expand my knowledge in Computer Science and Technology and gain experience that would be useful to me in the work force.
                <p>Thank you for visiting my portfolio!
                </p>
            </p>  
        </div>
    </div>

</body>

<footer>
    <p>CONTACT</p>
    <a href="https://github.com/bolanle-adisa">You can find me on GitHub here</a>
    <br>
    <a href="https://www.linkedin.com/in/bolanleadisa">You can find me on Linkedin here</a>
</footer>

</html>
